a {
  text-decoration: none;
}
body {
  max-width: 1920px;
  // height: 100%;
  font-family: 'TT Norms Pro Regular';
  font-size: 16px;
  font-weight: 400;
  line-height: 130%;
  margin: 0 auto;
  padding: 0;
}
.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}
/* ********** container ************ */
.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex: 0 1;
}
._container {
  // max-width: 1296px;
  padding: 0px 15px;
  margin: 0 auto;
}
.display-none {
  display: none
}
/* ************************************************************/
.over {
  margin-top: 300px;
  background-color: #c0e617;
  height: 100%;
  width: 100%;
  display: none;
  flex-direction: column;
  text-align: center;
}
.over__text {
  padding: 50px 0;
  font-size: 55px;
}

.main {
  margin: 100px 0;
  // max-width: 100%;
  background-color: #c0e617;
  text-align: -webkit-center;
  overflow: hidden;
}
.main-block-1 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}
.number-1 {
  display: flex;
  flex: 0 1 50%;
  text-align: center;
  font-size: 40px;
  padding: 30px 0;
  background-color: bisque;
}
.versuche {
  background-color: rgb(252, 229, 198);
}
.versuche__text {
  padding: 40px 0;
  font-size: 45px;
  color: rgb(0, 0, 0);
}
.versuche__text.active {
  transition: all 0.3s;
  transform: scale(2);
  background-color: red;
  color: aliceblue;
}
.win-1 .win {
  background-color: green;
}
.main-block {
  width: 100%;
  height: 300px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}
.number {
  height: 300px;
  font-size: 55px;
  text-align: center;
}
.win-1 .win {
  background-color: green;
}
.block-1-buttons__input {
}
.block-1-buttons {
  display: flex;
  justify-content: space-between;
}

.block-1-button {
  display: inline-block;
  background-color: aqua;
  flex: 0 1 50%;
  padding: 30px;
  font-size: 40px;
}
.form_radio {
	margin-bottom: 10px;
  display: flex;
  justify-content: center;
  width: 100%;
}
.form_radio input[type=radio] {
	display: none;
}
.form_radio label {
	display: inline-block;
	cursor: pointer;
	position: relative;
	padding-left: 25px;
	margin-right: 0;
	line-height: 18px;
	user-select: none;
}
.form_radio label:before {
	content: "";
	display: inline-block;
	width: 17px;
	height: 18px;
	position: absolute;
	left: 0;
  // border-radius: 50%;
  // background-color: rgb(245, 109, 6);
	// background: url(/img/radio-1.png) 0 0 no-repeat;
}

/* Checked */
.form_radio input[type=radio]:checked + label:before {
	// background: url(/img/radio-2.png) 0 0 no-repeat;
  // width: 110%;
  // height: 110%;
  top: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(247, 140, 0);
}

/* Hover */
.form_radio label:hover:before {
	filter: brightness(120%);
}

/* Disabled */
.form_radio input[type=radio]:disabled + label:before {
	filter: grayscale(100%);
}
.button {
  padding: 30px 0;
  font-size: 40px;
  background-color: aqua;
  width: 100%;
}
.button:hover {
  background-color:blueviolet;
}
.gefunden {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  display: flex;
  width: 100%;
}
.gefunden__p {
  border: 2px solid rgb(192, 230, 23);
  display: flex;
  justify-content: center;
  padding: 30px 0;
  flex: 0 1 25%;
  font-size: 35px;
}
.gefunden__text {
  padding-left: 15px;
}
.fertig {
  width: 100%;

}
.fertig__button-block {
  text-align: center;
  display: flex;
  justify-content: center;
}
.over__button {
  padding: 30px;
  font-size: 45px;
  background-color: aquamarine;
  cursor: pointer;
}
.fertig__button {
  padding: 30px;
  font-size: 45px;
  background-color: aquamarine;
  cursor: pointer;
}
