a {
  text-decoration: none;
}
body {
  max-width: 1920px;
  // height: 100%;
  font-family: 'TT Norms Pro Regular';
  font-size: 16px;
  font-weight: 400;
  line-height: 130%;
  margin: 0 auto;
  padding: 0;
}
.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}
/* ********** container ************ */
.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex: 0 1;
}
._container {
  // max-width: 1296px;
  padding: 0px 15px;
  margin: 0 auto;
}
.display-none {
  display: none
}
.main {
  margin: 100px 0;
  // max-width: 100%;
  background-color: red;
  text-align: -webkit-center;
}
.main-block-1 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}
.number-1 {
  display: flex;
  flex: 0 1 50%;
  text-align: center;
  font-size: 40px;
  padding: 30px 0;
  background-color: bisque;
}
.versuche {

}
.versuche__text {
  padding: 30px 0;
  font-size: 35px;
  color: white;
}
.win-1 .win {
  background-color: green;
}
.main-block {
  width: 100%;
  height: 300px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}
.number {
  height: 300px;
  font-size: 55px;
  text-align: center;
}
.win-1 .win {
  background-color: green;
}
.block-1-buttons {
  display: flex;
  text-align: center;
}

.block-1-button {
  display: inline-block;

  flex: 0 1 50%;
  padding: 30px;
  font-size: 40px;
}
.button {
  padding: 30px 0;
  font-size: 40px;
  background-color: aqua;
  width: 100%;
}
.button:hover {
  background-color:blueviolet;
}
.gefunden {
  background-color: rgb(197, 197, 197);
  color: white;
  display: flex;
  width: 100%;
}
.gefunden__p {
  border: 2px solid rgb(192, 230, 23);
  display: flex;
  justify-content: center;
  padding: 30px 0;
  flex: 0 1 25%;
  font-size: 35px;
}
.gefunden__text {
  padding-left: 15px;
}
